<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="To do list web app">
<meta name="author" content="Asif Abdul Rahiman">
<title>Bandwidth Utilisation</title>
<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
<link rel="icon" href="../../favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../../mystyle.css">
<link href="../../bootstrap.min.css" rel="stylesheet">  
<link href="../../bootstrap-datepicker.css" rel="stylesheet">  
<script src="../../jquery.js"></script>  
<script src="../../bootstrap.min.js"></script>  
<script src="../../bootstrap-datepicker.js"></script> 
<script src="../../angular.min.js"></script>
</head>
<script>
var app = angular.module("subtasklist", []); 
app.controller("myCtrl", function($scope, $filter,$http) {
    $scope.subtask = [];
	 
    $http({
      method: 'GET',
      url: 'get.php'
   }).then(function (success){
   
	var _len = success.data.length;
  var  post, i;

  for (i = 0; i < _len; i++) {
    //debugger
    post = success.data[i];
	$scope.subtask.push({'Subtask':post.subtask});
  }
   },function (error){
	alert(error);
   });  
    
    $scope.addItem = function () {
        $scope.errortext = "";
		
		
        if (!$scope.addsubtask) {alert("Please fill the details");return;} 
		
		var nsubtask={'Subtask':$scope.addsubtask};
		var newsubtask=true;
		angular.forEach($scope.subtask, function(item) {
			if( item.Subtask.indexOf(nsubtask.Subtask)==0){
				
						newsubtask=false;}
			});
			if(newsubtask)
			{
				$scope.subtask.push(nsubtask);
				var data1=$scope.addsubtask;
				var dataString = 'subtask='+ data1;
				$scope.addsubtask=""
				
				
				
				
				$.ajax({
				type: "POST",
				url: "add.php",
				data: dataString,
				cache: false,
				success: function(result){}
				});
				
				
			}
			else{
				alert('Release already present');
			}
		
		
           
    }
    $scope.removeItem = function (x) {
		var index = $scope.subtask.indexOf(x);
		if (index != -1) {
        $scope.errortext = ""; 
		var datastring = 'subtask='+ $scope.subtask[index].Subtask;
		$.ajax({
		type: "POST",
		url: "remove.php",
		data: datastring,
		cache: false,
		success: function(result){}
		});
        $scope.subtask.splice(index, 1);
		}
    }
});
</script>

<body ng-app="subtasklist" ng-controller="myCtrl">
<div class="header1">
<img src="../../logo.jpg" class="logo"/>
<h2 style="margin-left:6%">Bandwidth Utilisation</h2>
</div>
<div class="header">
  <h2>Add a Activity</h2>
<div >
<input type="text" placeholder="Enter Activity" ng-model="addsubtask">
<span ng-click="addItem()" class="addBtn semi-square">Add</span>

  
</div>
</div>
<table>
	<tr style="background-color:#eee;"><td>Activity</td><td>Delete</td></tr>
    <tr ng-repeat="x in subtask| orderBy:['Subtask']" ng-class-even="'trcolour'" ><td>  {{x.Subtask}} </td><td><span ng-click="removeItem(x)">clear</span></td></tr>
 </table>
</body>

</html>
